body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #d9d9d9;
  height: 100vh;

  position: fixed;
}

.sidebar-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  height: 65vh;
}

.vintage {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: auto;
}

.main-dd {
  padding: 15px 0px 20px;
}

select {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

button {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: 15px;
}

button:hover {
  background-color: pink;
  cursor: pointer;
}
